[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
python-mysqldb = "*"
flask-mysqldb = "*"
passlib = "*"

[requires]
python_version = "3.7"
